@import "tailwindcss";
h1{
  @apply text-4xl font-bold ;
}
h2{
  @apply text-3xl  ;
}
h3{
  @apply text-2xl  ;
}
h4{
  @apply text-xl  ;
}
h5{
  @apply text-lg  ;
}
h6{
  @apply text-base  ;
}
*{
  box-sizing: border-box;
}